.BruteForcePlotPanelMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

.BruteForcePanelTextFields {
    display: flex;
}

.BruteFoceImportMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
