.BruteForcePlotPanelMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

.BruteForcePanelTextFields {
    display: flex;
}

.BruteFoceImport {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    overflow-y: auto;
}

.BruteFoceImportPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.BruteFoceImportMiddle {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.BruteFoceImportList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BruteFoceImportListItem {
    display: flex;
    flex-direction: column;
}
