.BruteResults {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.BruteResultsPanel {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.BruteResultsContainer {
    width: 100%;
    flex-basis: 90%;
    display: flex;
    flex-direction: row;
    border: solid #efefef;
    border-width: 1px 1px 0px 1px;
    overflow-y: scroll;
}

.BruteResultsList {
    min-width: 8%;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #efefef;
    align-items: center;
}

.BruteScoreText {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
}

.BruteResultsParams {
    padding-top: 32px;
    margin-left: 32px;
    min-width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #efefef;
}

.BruteResultsPlot {
    padding-top: 32px;
}