.FreeHandPanel {
    display: flex;
    flex-direction: row;
    min-height: 8%;
    justify-content: space-around;
    border-bottom: 1px solid #efefef;
    align-items: center;
}

.FreeHandSketch {
    display: flex;
    flex-direction: column;
}

.FreeHandSketchRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FreeHandCanvas {
    border-right: 2px solid #efefef;
    border-top: 2px solid #efefef;
    border-left: 2px dashed #677be9;
    border-bottom: 2px dashed #677be9;

}

.FreeHandYAxis {
    flex-basis: 15%;
    min-width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FreeHandXAxis {
    display: flex;
    justify-content: center;
}