.FreeHandMain {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.FreeHandClearBtn {
    display: flex;
    justify-content: center;
}

.FreeHandSketch {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.FreeHandSketchRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FreeHandYAxis {
    flex-basis: 15%;
    min-width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FreeHandXAxis {
    display: flex;
    justify-content: center;
}