.SummaryContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.SummaryHeader {
    font-weight: 600;
    font-size: larger;
}

.SummarySearch {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 32px 12px 0px;
}

.SummaryItem {
    margin-left: 16px;
}

.SummaryKey {
    font-weight: 500;
    margin-top: 8px;
}

.SummarySectionHeader {
    margin-Top: 8px;
    text-decoration: underline
}

.SummarySectionItem {
    margin: 8px;
}

.SummarySection {
    margin-left: 16px;
}
