.App {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	align-content: space-between;
}

.Button {
	text-transform: none !important;
	width: 160px;
	height: 120px;
}

.Divider {
    width: 30px;
    height: auto;
    display: inline-block;
}