.Simulate {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.SimulateContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.SimulateTopPanel {
    flex-basis: 10%;
    min-height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}

.SimulateCenter {
    flex-basis: 90%;
    max-height: 90%;
    width: 100%;
    display: flex;
}

.LeftSide {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	align-content: space-between;
}

.RightSide {
    flex-basis: 60%;
    min-width: 60%;
    text-align: left;
    border-left: 1px solid #efefef;
    display: flex;
    flex-direction: column;
}

.SimulateCanvasTree {
    flex-basis: 50%;
    max-height: 50%;
    width: 100%;
}

.SimulateCanvasBottomPanel {
    flex-basis: 50%;
    min-height: 50%;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #efefef;
}

.SimulateCanvasBottomRight {
    flex-basis: 50%;
    min-width: 50%;
    border-left: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SimulateCanvasBottomLeft {
    text-align: center;
    display: flex;
    max-width: 50%;
    width: 50%;
    height: 100%;
    overflow: auto;
}
