.Design {
    /* text-align: center; */
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.TopPanel {
    text-align: center;
    display: flex;
    width: 100%;
    flex-basis: 10%;
    min-height: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}

.MainPanel {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.Canvas {
    /* text-align: center; */
    display: flex;
    height: 100%;
    flex-basis: 70%;
    min-width: 70%;
}

.ControlPanel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #efefef;
}

.NoCapsButton {
	text-transform: none !important;
}